blinker==1.9.0
click==8.2.1
Deprecated==1.2.18
docx2pdf==0.1.8
et_xmlfile==2.0.0
fire==0.7.1
Flask==3.0.3
Flask-Mail==0.10.0
fonttools==4.59.2
fpdf==1.7.2
gunicorn==23.0.0
img2pdf==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.1
MarkupSafe==3.0.2
numpy==2.2.6
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pdf2docx==0.5.8
pikepdf==9.10.2
pillow==11.3.0
PyMuPDF==1.24.8
PyMuPDFb==1.24.8
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2025.2
six==1.17.0
termcolor==3.1.0
tqdm==4.67.1
typing_extensions==4.15.0
tzdata==2025.2
Werkzeug==3.0.3
wrapt==1.17.3
